
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .avatarWrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }
  
  .avatar {
    object-fit: cover;
  }
  